* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'symbols-technomart';
    src: url('../fonts/symbols-technomart.eot?22619757');
    src: url('../fonts/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
    url('../fonts/symbols-technomart.woff?22619757') format('woff'),
    url('../fonts/symbols-technomart.ttf?22619757') format('truetype'),
    url('../fonts/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CuprumBold';
    src: url('../fonts/cuprum/cuprum-bold.eot');
    src: url('../fonts/cuprum/cuprum-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cuprum/cuprum-bold.woff') format('woff'),
    url('../fonts/cuprum/cuprum-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CuprumItalic';
    src: url('../fonts/cuprum/cuprum-italic.eot');
    src: url('../fonts/cuprum/cuprum-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cuprum/cuprum-italic.woff') format('woff'),
    url('../fonts/cuprum/cuprum-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CuprumRegular';
    src: url('../fonts/cuprum/cuprum-regular.eot');
    src: url('../fonts/cuprum/cuprum-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cuprum/cuprum-regular.woff') format('woff'),
    url('../fonts/cuprum/cuprum-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/ptsans/pts75f.eot');
    src: url('../fonts/ptsans/pts75f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ptsans/pts75f.woff') format('woff'),
    url('../fonts/ptsans/pts75f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/ptsans/pts55f.eot');
    src: url('../fonts/ptsans/pts55f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ptsans/pts55f.woff') format('woff'),
    url('../fonts/ptsans/pts55f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans Bold", Helvetica, sans-serif;
}

.header-logo {
    display: block;
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    background: #ee3643;
    height: 41px;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 53px;
    text-transform: uppercase;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}

.header-logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.header-logo:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.header-top-search input {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-top-search input::-webkit-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-top-search input::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-top-search input:-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-top-search input:-ms-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-top-search input:focus::-webkit-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-top-search input:focus::-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-top-search input:focus:-moz-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-top-search input:focus:-ms-input-placeholder {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

input[type="search"]:hover ~ label::before {
    color: #ffffff;
}

input[type="search"]:focus ~ label::before,
input[type="search"]:active ~ label::before {
    color: #ee3643;
}

.header-top-search input:focus,
.header-top-search input:active
{
    color: #000000;
    background-color: #ffffff;
}

.header-top-search input:focus ~ label::before,
.header-top-search input:active ~ label::before
{
    color: red;
}

.promo-box-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding-left: 22px;
    color: #ffffff;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 13px;
}

.promo-box a {
    margin-left: 25px;
}

.promo-box a:hover {
    background-color: rgba(0, 0, 0, .2);
}

.promo-box a:active {
    background-color: rgba(0, 0, 0, .3);
}

.popular-goods-header-title,
.popular-brands-title,
.services-overview-title,
.about-summary-title,
.about-contacts-title {
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.about-contacts-description {
    width: 180px;
    margin-bottom: 31px
}

.about-contacts-map {
    display: block;
    width: 300px;
    height: 160px;
    margin-bottom: 38px
}

.container {
    width: 941px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background: #f1f5f7;
    padding-bottom: 60px;
}

header.main-header {
    height: 320px;
    margin-bottom: 20px;
}

.header-top-panel {
    height: 42px;
    background: #293449;
    margin-bottom: 47px;
}

.header-top-panel a {
    color: white;
}

.header-top-logo,
.header-top-favorite,
.header-top-cart,
.header-top-order {
    font-size: 17px;
}

.header-top-favorite a:hover::before,
.header-top-cart a:hover::before {
    color: #ffffff;
}

.header-top-logo {
    width: 220px;
    float: left;
}

.header-top-search {
    width: 282px;
    height: 42px;
    float: left;
}
.header-top-search label {
    position: relative;
}
.header-top-search label::before {
    position: absolute;
    top: 1px;
    left: -178px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f50d";
    cursor: pointer;
    color: #6a7180;
}

.header-top-search input {
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    background: #293449;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-left: 47px;
    padding-bottom: 12px;
}

.header-top-favorite {
    width: 140px;
    float: left;
}

.header-top-favorite a::before {
    position: absolute;
    top: 12px;
    left: 6px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f516";
    cursor: pointer;
    color: #6a7180;
}

.header-top-favorite a {
    position: relative;
    display: block;
    font-family: "Cuprum", sans-serif, Arial;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 32px;
}

.header-top-cart {
    width: 140px;
    float: left;
}

.header-top-cart a::before {
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\62";
    cursor: pointer;
    color: #6a7180;
}

.header-top-cart a {
    position: relative;
    display: block;
    font-family: "Cuprum", sans-serif, Arial;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 47px;
}

.header-top-cart-full,
.header-top-cart-full a {
    width:149px;
    height: 42px;
    background-color: #ee3643;
}

.header-top-cart-full::before {
    color: #f3737c;
}

.header-top-cart-full:active {
    background-color: #ba2732;
}

.header-top-order {
    width: 150px;
    height: 42px;
    float: right;
}

.header-top-order a {
    font-family: "Cuprum", sans-serif, Arial;
    display: block;
    width: 150px;
    height: 42px;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 22px;
    background: #63a63e;
}

.header-top-order a:hover {
    background-color: #5fbb2d;
}

.header-top-order a:active {
    background-color: #518534;
}


.main-header-top .main-order-now {
    width: 140px;
    float: right;
}

.header-middle-panel {
    margin-bottom: 38px;
}

.header-middle-slogan {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    width: 250px;
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 52px;
    margin-right: 70px;
}

.header-middle-feedback {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 18px;
    width: 290px;
    float: left;
}

.header-feedback-phone::before {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f4de";
    color: #b7bfc8;
}

.header-feedback-phone {
    position: relative;
    border: 3px solid white;
    padding: 9px 69px;
    color: #e9292a;
    margin-bottom: 6px;
}

.header-feedback-address {
    font-family: "Cuprum", sans-serif, Arial;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
    margin: 0;
}

.header-middle-user {
    width: 285px;
    float: right;
}

.header-middle-user a {
    display: inline-block;
}

.header-user-info a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header-user-info {
    position: relative;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 45px;
    background-color: #ffffff;
}

.header-user-info::before {
    position: absolute;
    top: 12px;
    left: 14px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f468";
    color: #c5c5c5;
}

.header-user-info::after {
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 20px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\241b";
    color: #c5c5c5;
}

.header-user-info:hover::after,
.header-user-info:hover::before {
    color: #000000;
}

.header-user-info:active::after,
.header-user-info:active::before {
    color: #b2b2b2;
}

.header-user-account {
    padding-top: 9px;
    font-size: 0;

}

.header-user-account a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.header-user-account a:last-child {
    margin-left: 38px;
}

.header-user-account a:last-child::before {
    opacity: 1;
    position: absolute;
    top: 7px;
    left: -16px;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    content: "";
}

.header-user-account a:hover {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ee3643;
}

.header-user-account a:active {
    color: #b7bfc8;
}

.btn-alt-login:hover:before {
    color: #ee3643;
    opacity: 1;
}

.btn-alt-login:active:before {
    color: #000000;
    opacity: .3;
}


.btn-alt-login:hover,
.btn-alt-registration:hover {
    color: #ee3643;
}

.btn-alt-login:active,
.btn-alt-registration:active {
    color: rgba(0, 0, 0, .3);
}

.breadcrumbs-list {
    position: relative;
    margin-left: 15px;
    margin-bottom: 22.5px;
    font-size: 0;
    color: #000000;
}

.breadcrumbs-list a {
    font-family: "PT Sans",sans-serif,Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.breadcrumbs-list::after {
    position: absolute;
    top: 1px;
    left: -15px;
    font-size: 16px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f3e0";
    color: #c1c6ce;
    cursor: pointer;
}

.breadcrumbs-list li {
    position: relative;
    display: inline-block;
    margin-left: 39px;
}

.breadcrumbs-list li::before {
    position: absolute;
    top: 3px;
    left: -22px;
    font-size: 12px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #c1c6ce;
}

.block-menu {
    float: left;
    width: 221px;
    vertical-align: top;
}

.price-widget {
    margin-bottom: 20px;
}

.price-widget-bar {
    min-height: 80px;
}

.price-widget-range-min {
    width: 96px;
    float: left;
}

.price-widget-range-max {
    width: 96px;
    float: right;
}

.price-widget-range-separator {
    text-align: center;
    width: 13px;
    margin: 0 auto;
    float: left;
}

.block-market {
    float: right;
    width: 700px;
    vertical-align: top;
}

.block-header-filter {
    margin-bottom: 20px;
}

.breadcrumbs a,
.breadcrumbs span,
.catalog-options span,
.catalog-paginator a,
.catalog-paginator span,
.catalog-filter-column p {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column h3 {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-paginator span {
    color: #ffffff;
}

.catalog-filter-column label {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column span,
.catalog-filter-column input[type="text"] {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.catalog-options-scenario {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #c9c9c9;
    border-bottom-style: dotted;
    border-bottom-color: #ee3643;
    border-bottom-width: thin;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-options-scenario:hover {
    color: #000000;
    border-bottom-style: solid;
}

.catalog-options-scenario:active {
    color: #ee3643;
    border-bottom-style: none;
}

.breadcrumbs {
    position: relative;
    margin-left: 15px;
    margin-bottom: 22.5px;
    font-size: 0;
}

.breadcrumbs::after {
    position: absolute;
    top: 1px;
    left: -15px;
    font-size: 16px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f3e0";
    color: #c1c6ce;
    cursor: pointer;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-left: 39px;
}

.breadcrumbs li::before {
    position: absolute;
    top: 3px;
    left: -22px;
    font-size: 12px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #c1c6ce;
}

.catalog-title {
    padding-top: 27.5px;
    padding-bottom: 29.5px;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #f2f6f8;
}

.catalog-filter-column {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.catalog-filter-column p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin-bottom: 10.5px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-goods-column {
    float: right;
    width: 700px;
}

.catalog-options {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 19px;
    font-size: 0;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-options span {
    float: left;
    width: 100px;
    padding-left: 20px;
}

.catalog-options .catalog-options-parameters {
    float: right;
    width: 480px;
}

.catalog-options-parameters a,
.catalog-options-parameters label {
    display: inline-block;
    vertical-align: top;
}

.catalog-options-price {
    margin-right: 70px;
}

.catalog-options-type {
    margin-right: 65px;
}

.catalog-options-functions + label {
    margin-left: 45px;
}

.catalog-up-arrow {
    position: relative;
    margin-left: 40px;
    text-decoration: none;
}

.catalog-down-arrow {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
}

.catalog-options-active {
    color: #ee3643;
    border-bottom: none;
}

.catalog-options-active:hover {
    color: #ee3643;
    border-bottom: none;
}

.catalog-up-arrow::before {
    position: absolute;
    top: -7px;
    left: 0;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25b2";
    color: #c6c2bd;
}

.catalog-up-arrow:hover::before {
    color: #000000;
}

.catalog-down-arrow::before {
    position: absolute;
    top: -7px;
    left: 40px;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25bc";
    color: #c6c2bd;
}

.catalog-down-arrow:hover::before {
    color: #000000;
}

.catalog-options-active::before,
.catalog-up-arrow:active::before,
.catalog-down-arrow:active::before {
    color: #ee3643;
}

.catalog-filter-title {
    margin-bottom: 14.5px;
}

.catalog-filter-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 9px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-range-filter {
    font-size: 0;
    padding-bottom: 25px;
    margin-bottom: 16.5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e5e5e5;
}

.catalog-filter-scale {
    position: relative;
    height: 2px;
    background-color: #d7dcde;
}

.catalog-scale-bar {
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #00ca74;
}

.catalog-scale-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
    background-color: #ffffff;
}

.catalog-scale-toggle::before {
    position: absolute;
    top: 7px;
    left: 7.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ababab;
    content: "";
}

.catalog-min-toggle {
    top: 30px;
}

.catalog-max-toggle {
    top: 30px;
    left: 150px;
}

.catalog-range-filter span,
.catalog-range-filter input {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.catalog-range-filter input {
    width: 95px;
    background-color: #f7f3ec;
    border-radius: 5px;
    border: none;
    outline: none;
}

.catalog-range-filter span,
.catalog-max-price {
    margin-left: 8px;
}

.catalog-filter-title + label {
    margin-top: 18px;
}

.catalog-filter-column input[type="radio"],
.catalog-filter-column input[type="checkbox"] {
    display: none;
}

.catalog-filter-column label {
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    position: absolute;
    top: 0;
    left: -35px;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25cb";
    color: #c1c1c1;
}

input[type="checkbox"] + label::before {
    content: "\2610";
}

input[type="radio"]:checked + label::before {
    content: "\25cf";
}

input[type="checkbox"]:checked + label::before {
    content: "\2611";
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
    color: #b5b5b5;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
    color: #e9e9e9;
}

input[type="checkbox"] ~ h3 {
    padding-top: 19.5px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #e5e5e5;
}

.filter-btn {
    padding-top: 11.5px;
    padding-bottom: 10.5px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 55px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-width: 1px;
    border-style: solid;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.filter-btn:hover {
    border-color: #bdc6ca;
}

.filter-btn:active {
    border-color: #ee3643;
}

.catalog-paginator {
    font-size: 0;
    margin-bottom: 60px;
}

.catalog-paginator a,
.catalog-paginator span {
    display: inline-block;
}

.catalog-paginator a,
.catalog-paginator span {
    padding-top: 9.5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.catalog-paginator a:hover {
    border-color: #bdc6ca;
}

.catalog-paginator a:active {
    border-color: #ee3643;
}

.catalog-paginator .catalog-paginator-next {
    padding-left: 31px;
    padding-right: 31px;
}

.catalog-paginator .catalog-paginator-active {
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.filter-parameters {
    float: right;
    width: 480px;
}

.block-header-filter span {
    float: left;
    width: 83px;
    margin-left:19px;
}

.block-header-filter-price {
    display: inline-block;
    margin-left:40px;
}

.block-header-filter-type {
    display: inline-block;
    margin-left:55px;
}

.block-header-filter-functionality {
    display: inline-block;
    margin-left:40px;
}

.block-header-filter-order-asc {
    display: inline-block;
    margin-right: 40px;
}

.block-header-filter-order-desc {
    display: inline-block;
    margin-right: 15px;
}

.market-items-item {
    float: left;
    width: 220px;
    height: 318px;
    margin-right: 20px;
    border: 1px solid gray;
}

.market-items-item:nth-child(3n) {
    float: right;
    margin-right: 0;
}

.main-pagination {
    margin-top: 53px;
}

.main-pagination-list li {
    display: inline-block;
}

.block-little-promo {
    background: #f2f6f8;
    padding-bottom: 75px;
}

.yellow-panel {
    background: #f7f3ec;
    padding: 14px 18px;
}

h1.catalog-title {
    font-family: "Cuprum",sans-serif,Arial;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 27.5px;
    padding-bottom: 29.5px;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #f2f6f8;
}

.header-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 21px;
}

.header-navigation-list li {
    display: inline-block;
}

.header-navigation-list a {
    display: block;
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 17px;
    line-height: 17px;
    padding: 20px 28px;
    color: white;
    text-decoration: none;
}

.header-navigation-list li:hover {
    background-color: #293449;
}

.header-navigation-list li:active {
    color: rgba(255, 255, 255, .5);
    background-color: #293449;
}

.header-navigation-list a:first-child {

}

.header-bottom-panel {
    background: #32425c;
}

.header-bottom-navigation {
    height: 61px;
    background-color: #32425c;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #293449;
}

.main-navigation-list li:first-child {
    padding-left: 42px;
}

.main-navigation-list li {
    display: inline-block;
    padding: 18px 15px;
    text-align: center;
}

.main-navigation-list a {
    color: white;
    text-decoration: none;
}

.promo {
    margin-bottom: 32px;
}

.promo-box {
    position: relative;
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 30px;
    width: 300px;
    height: 122px;
    background: lightgray;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.promo-box:last-child {
    margin-right: 0;
}

.promo-box-stuff {
    background: #f6b22d;
    float: left;
}

.promo-box-stuff::after {
    position: absolute;
    top: 31px;
    left: 213px;
    width: 45px;
    height: 65px;
    background: -39px -31px url("../img/sprites.png") no-repeat;
    content: "";
}

.promo-box-tools {
    background: #4aafde;
    float: left;
}

.promo-box-tools::after {
    position: absolute;
    top: 31px;
    left: 198px;
    width: 76px;
    height: 65px;
    background: -24px -153px url("../img/sprites.png") no-repeat;
    content: "";
}

.promo-box-equipment {
    background: #cc79d1;
    float: right;
}

.promo-box-equipment::after {
    position: absolute;
    top: 27px;
    left: 188px;
    width: 76px;
    height: 65px;
    background: -20px -273px url("../img/sprites.png") no-repeat;
    content: "";
}

.promo-box-discounts {
    background: #85d179;
}

.promo-box-discounts,
.promo-box-delivery {
    border: transparent 1px solid;
}

.promo-box-discounts::after {
    position: absolute;
    top: 25px;
    left: 195px;
    width: 60px;
    height: 75px;
    background: -32px -394px url("../img/sprites.png") no-repeat;
    content: "";
}

.promo-box-delivery {
    background: #f6b22d;
}

.promo-box-delivery::after {
    position: absolute;
    top: 31px;
    left: 190px;
    width: 80px;
    height: 65px;
    background: -23px -522px url("../img/sprites.png") no-repeat;
    content: "";
}

.promo-box-new::before,
.catalog-item-new::before,
.catalog-item-new .catalog-item-actions::before {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    font-family: "Cuprum", sans-serif, Arial;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    top: 7px;
    right: -30px;
    content: "new";
    color: white;
    background: #ee3643;
    width: 100px;
    height: 25px;

    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slider {
    position: relative;
    font-family: "Cuprum", sans-serif, Arial;
    width: 620px;
    float: left;
    height: 266px;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;

    vertical-align: top;

    background: white;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
    position: absolute;
    left: 50%;
    top: 219px;

    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.slider-items {

}

.slider-item {
    font-family: "Cuprum", sans-serif, Arial;
    display: block;
    float: left;
    width: 620px;
    min-height: 266px;
    color: white;
    background: no-repeat #77685b;
}

.slider-item:nth-child(1) {
    background-image: url("../img/offer-slider-perforator.jpg");
}

.slider-item:nth-child(2) {
    background-image: url("../img/offer-slider-drill.jpg");
}

.slider-item {
    display: none;
}

.btn-slider:hover {
    background-color: #ca2c37;
}

.btn-slider:active {
    background-color: #ba2732;
}

#btn-1:checked ~ .slider-items .slider-item:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slider-items .slider-item:nth-child(2) {
    display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background: #ee3643;
}

.slider-left-arrow::before {
    position: absolute;
    cursor: pointer;
    top: 115px;
    left: 24px;
    font-size: 40px;
    line-height: 40px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3c";
    color: #fff;
    z-index: 1000;
}

.slider-right-arrow::before {
    position: absolute;
    cursor: pointer;
    top: 115px;
    right: 24px;
    font-size: 40px;
    line-height: 40px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #fff;
    z-index: 1000;
}

.slider-left-arrow:hover:before,
.slider-right-arrow:hover:before {
    color: #fb565a;
}

.slider-left-arrow:active:before,
.slider-right-arrow:active:before {
    color: rgba(255, 255, 255, .6);
}

.promo-medium {
    vertical-align: top;
}

.slider-highlight {
    background: rgba(0, 0, 0, 0.2);
}

.slider-title {
    text-transform: uppercase;
    padding-top: 26px;
    padding-left: 27px;
    padding-bottom: 0;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 5px;
}

.slider-annotation {
    font-family: "Cuprum", sans-serif, Arial;
    margin: 0;
    padding-left: 26px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
}

.promo-right {
    width:300px;
    float: right;
}

.popular-goods {
}

.btn-popular:hover {
    background-color: #ca2c37;
}

.btn-popular:active {
    background-color: #ba2732;
}

.popular-goods-header,
.popular-brands-header {
    background: #f7f3ec;
    margin-bottom: 20px;
    min-height: 90px;
}

.popular-goods-header-title,
.popular-brands-title {
    float: left;
    padding-left: 27px;
    padding-top: 1px;
}

.popular-goods-header a,
.popular-brands-header a {
    margin-top: 28px;
    margin-right: 27px;
    padding-left: 10px;
    float: right;
}

.catalog-items {
    font-size: 0;
}

.catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 220px;
    min-height: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    cursor: pointer;
}

.catalog-item:last-child {
    float: right;
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border: 1px solid transparent;
}

.catalog-item-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 124px;
    padding: 40px 0;
    background-color: #fff;
}

.catalog-item-actions .buy,
.catalog-item-actions .bookmark {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background-color: #63a63e;
}

.catalog-item-actions .buy {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 135px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #63a63e;
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 0 rgba(54,115,21,1);
}

.catalog-item-actions .bookmark {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 129px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    border: solid 3px #63a63e;
    background: white;
    color: black;
}

.catalog-item-actions .buy::before {
    position: absolute;
    top: 12px;
    left: 13px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\62";
    color: #92c178;
}

.catalog-item-actions .buy:hover::before,
.catalog-item-actions .buy:active::before {
    color: #ffffff;
}

.catalog-item-actions .buy:hover {
    background-color: #5fbb2d;
}

.catalog-item-actions .buy:active {
    background-color: #518534;
    box-shadow: none;
}

.catalog-item-actions .bookmark:hover {
    border-color: #32425c;
}

.catalog-item-actions .bookmark:active {
    border-color: #32425c;
}

.popular-brands {
    margin-bottom: 86px;
}

.catalog-item .catalog-item-actions {
    display: none;
}

.catalog-item:hover .catalog-item-actions {
    display: block;
}

.popular-brands-item {
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 145px;
    float: left;
    margin-right: 18px;
    margin-bottom: 20px;
}

.popular-brands-item:nth-child(4n) {
    float: right;
    margin-right: 0;
}

.popular-brands-item:nth-child(n+4) {
    margin-bottom: 0;
}

.popular-brands-item:focus {
    outline: none;
}

.popular-brands-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    border-color: transparent;
    cursor: pointer;
}

.popular-brands-item:active {
    opacity: 0.3;
}

.popular-item-image img {
    width: 218px;
    height: 169px;
    margin-bottom: 12px;
}

.catalog-item-description,
.catalog-item-pricing {
    font-family: "PT Sans",sans-serif,Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.catalog-item-image {
    width: 218px;
    height: 168px;
    overflow: hidden;
}

.catalog-item-image img {
    max-width: 100%;
}

.catalog-item-description {
    color: black;
}

.catalog-item-discount {
    font-family: "PT Sans",sans-serif,Arial;
    font-size: 15px;
    min-height: 20px;
    text-decoration: line-through;
    color: #999;
    margin: 0;
    margin-bottom: 4px;
}

.catalog-item-price {
    position: relative;
    font-family: "PT Sans",sans-serif,Arial;
    font-size: 14px;
    width: 122px;
    padding-top: 10px;
    padding-left: 13px;
    padding-bottom: 10px;
    margin: 4px 41px;
    background-color: #ee3643;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.catalog-item-price:after {
    position: absolute;
    top: 0;
    right: -40px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #fff;
    border-left-color: #ee3643;
}

.catalog-item-description p {
    margin-top: 13px;
    margin-bottom: 11.5px;
}

.services {
    background: #f2f6f8;
    margin-bottom: 50px;
    min-height: 523px;
    border-top: 1px solid transparent;
}

.services-overview-title {
    border-bottom: 35px;
}

.services-overview-description p,
.services-description-text p,
.about-summary-description p,
.about-contacts-description p {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
}

.services-description-text {
    width: 280px;
}

.services-overview {
    margin-top: 66px;
    margin-bottom: 65px;
}

.services-categories {
    width: 240px;
    float: left;
    box-sizing: border-box;
}

.services-categories-list {
    position: relative;
}

.services-categories-list::after {
    position: absolute;
    top: -27px;
    right: 0;
    width: 10px;
    min-height: 272px;
    background: 0 0 no-repeat url("../img/column-delimiter.png");
    content: "";
}

.service-content {
    width: 620px;
    float: right;
    min-height: 247px;
}

.service-details {
    position: relative;
    display: none;
    float: right;
    width: 620px;
    min-height: 284px;
}

.service-details-delivery::before {
    position: absolute;
    width: 468px;
    height: 261px;
    bottom: 0;
    right: 0;
    background: 0 0 no-repeat url("../img/service-details-delivery-background.png");
    content: "";
}

.service-details-warranty:before {
    position: absolute;
    width: 465px;
    height: 285px;
    bottom: 0;
    right: 0;
    background: 0 0 no-repeat url("../img/service-credit-background.png");
    content: "";
}

.service-details-credit:before {
    position: absolute;
    width: 389px;
    height: 283px;
    bottom: 0;
    right: 0;
    background: 0 0 no-repeat url("../img/service-details-guarantee-background.png");
    content: "";
}

.service-details-active {
    display: block;
}

.services-description-title {
    margin: 0;
    margin-bottom: 26px;
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.services-categories-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-categories-list a {
    height: 60px;
    display: block;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 24px;
    background-color: #32425c;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    color: white;
    text-decoration: none;
}

.services-categories-list a:focus {
    outline: none;
}

.services-categories-list a:hover {
    background-color: #293449;
}

.services-categories-list .services-categories-list-active {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.services-categories-list .services-categories-list-active,
.services-categories-list .services-categories-list-active:hover {
    color: #32425c;
    background-color: #ffffff;
}

.about-summary {
    float: left;
    width: 520px;
}

.about-summary-description {
}

.about-summary-description p:last-child {
    margin-top: 24px;
    margin-bottom: 25px;
}

.about-summary-partners {
    margin: 0;
    padding: 0;
}

.about-summary-partners-list {
    list-style: none;
    margin: 0;
    margin-left: 36px;
    margin-bottom: 34px;
    padding: 0;
}

.about-summary-partners-list li {
    position: relative;
    margin-bottom: 20px;
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.about-summary-partners-list li::before {
    position: absolute;
    top: 7px;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
}

.about {
    margin-bottom: 87px;
}

.about-contacts {
    float: right;
    width: 300px;
}

.block-legend-partners li {
    list-style: none;
}

footer {
    min-height: 300px;
    color: white;
    background-color: #32425c;
}

footer a {
    text-decoration: none;
}

.footer-top-panel {
    min-height: 63px;
    margin-bottom: 17px;
}

.footer-middle-panel {
    margin-bottom: 50px;
}

.footer-level-top-logo {
    float: left;
    width: 390px;
}

.footer-panel-navigation {
    float: right;
    width: 590px;
}

.footer-logo {
    float: left;
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 220px;
    height: 60px;
    padding-top: 19px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #ee3643;
    box-shadow: #ca2c37 0 5px 0 0;
}

.footer-logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
}

.footer-logo:active {
    background-color: #ba2732;
    box-shadow: #8e1e26 0px 5px 0px 0px;
}

.footer-panel-navigation a:hover,
.footer-panel-categories a:hover {
    text-decoration: underline;
}

.footer-panel-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-panel-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-panel-credits a,
.footer-panel-feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer-panel-credits a:hover,
.footer-panel-feedback a:hover {
    text-decoration: underline;
}

.footer-panel-credits a:active,
.footer-panel-feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-panel-navigation-list {
    font-family: "Cuprum",sans-serif,Arial;
    float: right;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 37px;
}

.footer-panel-navigation-list li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-left: 60px;
}

.footer-panel-categories-list {
    margin: 0;
    padding: 0;
}

.footer-panel-categories-list li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-right: 56px;
}

.footer-panel-categories-list li:last-child {
    margin-right: 0;
}

.footer-panel-navigation-list li:first-child {
    margin-left: 0;
}

.footer-panel-navigation-list li a {
    font-size: 18px;
    color: white;
}

.footer-bottom-panel {
    padding-top: 36px;
    height: 108px;
}

.footer-panel-categories {
    float: right;
    width: 530px;
    margin-top: 14px;
}

.footer-panel-categories a,
.footer-bottom-panel a
{
    color: #ffd180;
}

.footer-panel-address {
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    float: left;
    width: 332px;
    margin-top: 12px;
    margin-left: 2px;
}

.footer-panel-categories-list {
    font-family: "Cuprum",sans-serif,Arial;
}

.footer-bottom-panel {
    background: #293449;
}

.footer-middle-panel p,
.footer-bottom-panel p {
    margin: 0;
    padding: 0;
}

.footer-panel-copyright,
.footer-panel-feedback,
.footer-panel-credits {
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.footer-panel-copyright {
    float: left;
    width: 233px;
    margin-right: 162px;
}

.footer-panel-social {
    float: left;
    width: 138px;
    margin-right: 107px;
    min-height: 40px;
    font-size: 0;
}

.footer-panel-feedback {
    float: left;
    width: 130px;
    margin-right: 51px;
}

.footer-panel-credits {
    float: right;
    width: 100px;
    margin-right: 13px;
}

.footer-social-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #212a3a;
}

.footer-social-btn:hover,
.footer-social-btn:active {
    background-color: #ee3643;
}

.footer-social-btn::before {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\76";
    color: #fff;
}

.footer-social-fb::before {
    content: "\66";
    top: 10px;
    left: 15px;
}

.footer-social-in::before {
    content: "\1f4f7";
    top: 11px;
    left: 14px;
}

.btn-alt {
    display: inline-block;
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 20px;
    line-height: 18px;
    color: black;
    background: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 24px 15px 24px;
    min-height: 46px;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-alt-login::before {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 20px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\241b";
    opacity: 0.3;
    color: #000;
}

.btn-alt-login {
    position: relative;
    padding-left: 50px;
    padding-top: 12px;
}

.btn-alt-registration {
    margin-right: 0;
}

.btn {
    display: inline-block;
    width: 135px;
    min-height: 38px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn-slider {
    margin-top: 99px;
    margin-left: 25px;
    background-color: #ee3643;
    width: 195px;

}

.btn-popular,
.btn-about-company,
.btn-about-feedback {
    float: right;
    width: 250px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;

    font-family: "Cuprum",sans-serif,Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-about-company:hover,
.btn-about-feedback:hover {
    background-color: #ca2c37;
}

.btn-about-company:hover,
.btn-about-feedback:hover {
    background-color: #ba2732;
}

.popular-brands .btn-popular {
    margin-top: 24px;
}

.btn-about {
    width: 220px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;
}

.btn-about-company {
    float: left;
}

.btn-about-feedback {
    float: none;
    width: 100%;
}

.feedback {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    padding-top: 48px;
    margin-top: -250px;
    margin-left: -300px;
    border-top: solid 7px #ee3643;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    background-color: #ffffff;
    z-index: 9999;
}

.feedback-userdata,
.feedback-block-buttons {
    padding-left: 80px;
    padding-right: 80px;
}

.feedback-close {
    position: absolute;
    right: 40px;
    top: 20px;
}

.feedback-close:before {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.feedback-close:after {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.feedback-close:hover:before,
.feedback-close:hover:after {
    background-color: #ca2c37;
}

.feedback-close:active:before,
.feedback-close:active:after {
    background-color: #ba2732;
}

.feedback-left-column {
    float: left;
    width: 220px;
}

.feedback-right-column {
    float: right;
    width: 220px;
}

.feedback-block {
    margin-bottom: 22px;
}

.feedback-data,
.feedback-block label {
    margin-bottom: 9px;
}

.feedback-block input {
    width: 202px;
    padding-top: 9.5px;
    padding-bottom: 7.5px;
    padding-left: 14px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
}

.feedback textarea,
.feedback input {
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 14px;
    color: #ffffff;
}

textarea {
    width: 440px;
    height: 98.5px;
    padding-top: 9.5px;
    padding-left: 14px;
    margin-bottom: 30px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    overflow: auto;
    resize: none;
}

textarea:focus,
.feedback-block input:focus {
    outline: none;
}

.feedback-block-buttons {
    background-color: #f1f1f1;
}

.feedback-block-buttons {
    padding-top: 37px;
    padding-bottom: 37px;
    font-size: 0;
}

.feedback-btn:last-child {
    margin-right: 0;
}

.feedback-btn,
.feedback-cancel {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 78px;
    padding-right: 81px;
    margin-right: 20px;
    border-style: none;
    border-radius: 5px;
    outline: none;
    font-family: "Cuprum",sans-serif,Arial;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.feedback-btn:hover {
    background-color: #ca2c37;
}

.feedback-btn:active {
    background-color: #ba2732;
}

.feedback-cancel {
    padding-left: 85px;
    padding-right: 89px;
    background-color: #ffffff;

    font-family: "Cuprum",sans-serif,Arial;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.feedback-cancel:hover {
    color: #ee3643;
    background-color: #ffffff;
}

.feedback-cancel:active {
    color: rgba(0, 0, 0, .6);
    background-color: #ffffff;
}

.map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 940px;
    height: 447px;
    margin-left: -470px;
    margin-top: -230px;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    z-index: 5000;
}

.map-script,
.map figure {
    width: 940px;
    height: 447px;
    margin: 0 auto;
    background-color: #E9E5DC;
}

.map-close {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.map-close:before {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.map-close:after {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    background: #ee3643;
    font-size: 40px;
    font-weight: 400;
    content: "";
}

.map-close:hover:before,
.map-close:hover:after {
    background-color: #ca2c37;
}

.map-close:active:before,
.map-close:active:after {
    background-color: #ba2732;
}