* {
    border: 1px solid black;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans Bold", Helvetica, sans-serif;
}

h1.content-block-promo-box-title {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Gill Sans SemiBold Italic", Helvetica,  sans-serif;
}

h2.content-block-popular-goods-header-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 600;
    font-family: "Gill Sans SemiBold Italic", Helvetica,  sans-serif;
}

.content-block-promo-slider {
    background: no-repeat #77685b url("../img/offer-slider-perforator.jpg");
}

.container {
    width: 941px;
    margin: 0 auto;
}

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}

header.main-header {
    background: #f1f5f7;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

header .main-header-panel {
    height: 60px;
    background: #32425c;
    margin-bottom: 47px;
}

.main-header-top {
    background: lightgoldenrodyellow;
}

.main-header-top .main-logo {
    width: 221px;
    float: left;
}

.main-header-top .main-search {
    width: 282px;
    float: left;
}

.main-header-top .main-favorite {
    width: 140px;
    float: left;
}

.main-header-top .main-shopping-cart {
    width: 140px;
    float: left;
}

.main-header-top .main-order-now {
    width: 140px;
    float: right;
}

.main-header-bottom {

}

.main-header-bottom p.main-slogan {
    width: 200px;
    float: left;
    padding-left: 52px;
    margin-right: 70px;

    font-size: 14px;

    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.main-header-bottom .main-feedback {
    width: 270px;
    float: left;
}

.main-header-bottom .main-feedback p.main-feedback-address {
    font-size: 12px;
}

.main-header-bottom .main-user-block {
    width: 285px;
    float: right;
}

.main-header-navigation {
    background: #32425c;
}

.main-header-navigation .main-navigation {
    height: 61px;
}

ul.main-navigation-list {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

ul.main-navigation-list li:first-child {
    padding-left: 42px;
}

ul.main-navigation-list li {
    list-style: none;
    display: inline-block;
    padding: 18px 15px;
    text-align: center;
}

ul.main-navigation-list li a {
    color: white;
    text-decoration: none;
}

.content-block-promo-box {
    width: 298px;
    height: 122px;
    background: lightgray;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.content-block-promo-box:last-child {
    margin-right: 0;
}


.content-block-promo-box-stuff {
    background: #f6b22d;
    float: left;
}

.content-block-promo-box-tools {
    background: #4aafde;
    float: left;
}

.content-block-promo-box-equipment {
    background: #cc79d1;
    float: right;
}

.content-block-promo-box-discounts {
    background: #85d179;
}

.content-block-promo-box-delivery {
    background: #f6b22d;
}

.content-block-promo-slider
{
    width: 620px;
    float: left;
    min-height: 266px;

}

.content-block-promo-slider-header {
    background: rgba(0, 0, 0, 0.4);
}

.content-block-promo-right {
    width:300px;
    float: right;
}

.content-block-popular-goods {
    margin-bottom: 20px;
}

.content-block-popular-goods-header,
.content-block-popular-brands-header {
    background: #f7f3ec;
    margin-bottom: 20px;
    min-height: 90px;
}

.content-block-popular-goods-header p.content-block-popular-goods-header-title,
.content-block-popular-brands-header p.content-block-popular-brands-header-title
{
    float: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 20px;
}

.content-block-popular-goods-header a,
.content-block-popular-brands-header a
{
    margin: 20px;
    float: right;
}

.content-block-popular-items .content-block-popular-items-item {
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: 18px;
    width: 220px;
    min-height: 320px;
}

.content-block-popular-items .content-block-popular-items-item:last-child {
    float: right;
    margin-right: 0;
}

.content-block-popular-brands {
    margin-bottom: 86px;
}

.content-block-popular-brands-items .content-block-popular-brands-items-item {
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 145px;
    float: left;
    margin-right: 18px;
    margin-bottom: 20px;
}

.content-block-popular-brands-items .content-block-popular-brands-items-item:nth-child(4n) {
    float: right;
    margin-right: 0;
}

.content-block-popular-brands-items .content-block-popular-brands-items-item:nth-child(n+4) {
    margin-bottom: 0;
}

.content-block-services {
    background: #f2f6f8;
    margin-bottom: 80px;
}

.content-block-services-overview h2.content-block-services-overview-title {

}

section.content-block-services-categories {
    width: 240px;
    float: left;
}

section.content-block-services-description {
    width: 620px;
    float: right;
    background: url("../img/service-details-delivery-background.png");
}

ul.content-block-services-categories-list {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px
}

ul.content-block-services-categories-list li {
    list-style: none;
    padding: 10px;
    background: #32425c;
}

ul.content-block-services-categories-list li a {
    color: white;
    text-decoration: none;
}

ul.content-block-services-categories-list li.active {
    background: white;
}

ul.content-block-services-categories-list li.active a {
    color: #32425c;
}

.content-block-legend-about {
    float: left;
    width: 524px;
}

.content-block-legend {
    margin-bottom: 87px;
}

.content-block-legend-contacts {
    float: right;
    width: 410px;
}

.content-block-legend-about ul.content-block-legend-partners li {
    list-style: none;
}

footer {
    color: white;
}

footer a {
    text-decoration: none;
}

.footer-level-top,
.footer-level-middle {
    background: #32425c;
}

.footer-level-top-logo {
    float: left;
    width: 390px;
}

.footer-level-top-navigation {
    float: right;
    width: 590px;
}

.footer-level-top a.footer-logo {
    float: left;
    width: 220px;
    height:60px;
    margin-bottom: 32px;
    padding: 20px 37px;
    color: white;
    font-size: 20px;
    text-align: center;
    background: #ee3643;
    text-transform: uppercase;
}

.footer-level-top ul.footer-level-top-navigation-list {
    float: right;
    width: 610px;
    font-size: 0;
    padding-top: 40px;
}

ul.footer-level-top-navigation-list li,
ul.footer-level-middle-categories-list li
{
    list-style: none;
    display: inline-block;
    width: 110px;
    text-align: right;
    font-size: 18px;
}

ul.footer-level-top-navigation-list li a {
    color: white;
}


ul.footer-level-middle-categories-list li a,
.footer-level-bottom a
{
    color: #ffd180;
}

.footer-level-middle .footer-level-middle-address {
    float: left;
    width: 332px;
}

.footer-level-middle ul.footer-level-middle-categories-list {
    float: left;
    width: 530px;
}

.footer-level-bottom {
    background: #293449;
}

.footer-level-bottom .footer-level-bottom-copyright {
    float: left;
    width: 233px;
    margin-right: 162px;
}

.footer-level-bottom .footer-level-bottom-social-networks {
    float: left;
    width: 135px;
    margin-right: 120px;
}

.footer-level-bottom .footer-level-bottom-feedback {
    float: left;
    width: 130px;
    margin-right: 51px;
}

.footer-level-bottom .footer-level-bottom-maintainer {
    float: right;
    width: 100px;
}