* {
    box-sizing: border-box;
}

/** Fixes for webkit :| **/
ul, li, p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

li {
    list-style: none;
}

body {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans Bold", Helvetica, sans-serif;
}

h1.block-promo-box-title {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Gill Sans SemiBold Italic", Helvetica,  sans-serif;
}

h2.block-popular-goods-header-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 600;
    font-family: "Gill Sans SemiBold Italic", Helvetica,  sans-serif;
}

.block-promo-slider {
    background: no-repeat #77685b url("../img/offer-slider-perforator.jpg");
}

.container {
    width: 941px;
    margin: 0 auto;
}

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background: #f1f5f7;
    padding-bottom: 60px;
}

header.main-header {
    margin-bottom: 60px;
}

.main-header-panel {
    height: 60px;
    background: #32425c;
    margin-bottom: 47px;
}

.main-header-top a {
    color: white;
}

.header-logo {
    width: 221px;
    float: left;
}

.main-search {
    width: 282px;
    float: left;
}

.main-favorite {
    width: 140px;
    float: left;
}

.main-shopping-cart {
    width: 140px;
    float: left;
}

.main-header-top .main-order-now {
    width: 140px;
    float: right;
}

.main-header-bottom {

}

.main-slogan {
    width: 200px;
    float: left;
    padding-left: 52px;
    margin-right: 70px;
    font-size: 14px;
}

.main-feedback {
    width: 270px;
    float: left;
}

.main-feedback-address {
    font-size: 12px;
}

.main-user-block {
    width: 285px;
    float: right;
}

.block-breadcrumbs {
    margin-top: 20px;
}

.breadcrumbs-list li {
  display: inline-block;
}

.block-menu {
    float: left;
    width: 221px;
    vertical-align: top;
}

.price-widget {
    margin-bottom: 20px;
}

.price-widget-bar {
    min-height: 80px;
}

.price-widget-range-min {
    width: 96px;
    float: left;
}

.price-widget-range-max {
    width: 96px;
    float: right;
}

.price-widget-range-separator {
    text-align: center;
    width: 13px;
    margin: 0 auto;
    float: left;
}

.block-market {
    float: right;
    width: 700px;
    vertical-align: top;
}

.block-header-filter {
    margin-bottom: 20px;
}

.filter-parameters {
    float: right;
    width: 480px;
}

.block-header-filter span {
    float: left;
    width: 83px;
    margin-left:19px;
}

.block-header-filter-price {
    display: inline-block;
    margin-left:40px;
}

.block-header-filter-type {
    display: inline-block;
    margin-left:55px;
}

.block-header-filter-functionality {
    display: inline-block;
    margin-left:40px;
}

.block-header-filter-order-asc {
    display: inline-block;
    margin-right: 40px;
}

.block-header-filter-order-desc {
    display: inline-block;
    margin-right: 15px;
}

.market-items-item {
    float: left;
    width: 220px;
    height: 318px;
    margin-right: 20px;
    border: 1px solid gray;
}

.market-items-item:nth-child(3n) {
    float: right;
    margin-right: 0;
}

.main-pagination {
    margin-top: 53px;
}

.main-pagination-list li {
    display: inline-block;
}

.block-little-promo {
    background: #f2f6f8;
    padding-bottom: 75px;
}

.yellow-panel {
    background: #f7f3ec;
    padding: 14px 18px;
}

h1.block-catalog-title {
    margin-bottom: 20px;
    padding: 30px;
    min-height: 90px;
    background: #f2f6f8;
}

.main-header-navigation {
    background: #32425c;
}

.main-navigation {
    height: 61px;
}

.main-navigation-list li:first-child {
    padding-left: 42px;
}

.main-navigation-list li {
    display: inline-block;
    padding: 18px 15px;
    text-align: center;
}

.main-navigation-list li a {
    color: white;
    text-decoration: none;
}

.block-promo-box {
    width: 298px;
    height: 122px;
    background: lightgray;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.block-promo-box:last-child {
    margin-right: 0;
}


.block-promo-box-stuff {
    background: #f6b22d;
    float: left;
}

.block-promo-box-tools {
    background: #4aafde;
    float: left;
}

.block-promo-box-equipment {
    background: #cc79d1;
    float: right;
}

.block-promo-box-discounts {
    background: #85d179;
}

.block-promo-box-delivery {
    background: #f6b22d;
}

.block-promo-slider
{
    width: 620px;
    float: left;
    min-height: 266px;
}

.block-promo-slider-header {
    background: rgba(0, 0, 0, 0.4);
}

.block-promo-right {
    width:300px;
    float: right;
}

.block-popular-goods {
    margin-bottom: 20px;
}

.block-popular-goods-header,
.block-popular-brands-header {
    background: #f7f3ec;
    margin-bottom: 20px;
    min-height: 90px;
}

.block-popular-goods-header-title,
.block-popular-brands-header-title
{
    float: left;
    margin: 20px;
}

.block-popular-goods-header a,
.block-popular-brands-header a
{
    margin: 20px;
    float: right;
}

.block-popular-items-item {
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: 18px;
    width: 220px;
    min-height: 320px;
}

.block-popular-items-item:last-child {
    float: right;
    margin-right: 0;
}

.block-popular-brands {
    margin-bottom: 86px;
}

.block-popular-brands-items-item {
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 145px;
    float: left;
    margin-right: 18px;
    margin-bottom: 20px;
}

.block-popular-brands-items-item:nth-child(4n) {
    float: right;
    margin-right: 0;
}

.block-popular-brands-items-item:nth-child(n+4) {
    margin-bottom: 0;
}

.block-services {
    background: #f2f6f8;
    margin-bottom: 80px;
}

.block-services-categories {
    width: 240px;
    float: left;
}

.block-services-description {
    width: 620px;
    float: right;
    background: url("../img/service-details-delivery-background.png");
}

.block-services-categories-list li {
    padding: 10px;
    background: #32425c;
}

.block-services-categories-list li a {
    color: white;
    text-decoration: none;
}

.block-services-categories-list li.active {
    background: white;
}

.block-services-categories-list li.active a {
    color: #32425c;
}

.block-legend-about {
    float: left;
    width: 524px;
}

.block-legend {
    margin-bottom: 87px;
}

.block-legend-contacts {
    float: right;
    width: 410px;
}

.block-legend-partners li {
    list-style: none;
}

footer {
    color: white;
}

footer a {
    text-decoration: none;
}

.footer-level-top,
.footer-level-middle {
    background: #32425c;
}

.footer-level-top-logo {
    float: left;
    width: 390px;
}

.footer-level-top-navigation {
    float: right;
    width: 590px;
}

.footer-level-top a.footer-logo {
    float: left;
    width: 220px;
    height:60px;
    margin-bottom: 32px;
    padding: 20px 37px;
    color: white;
    font-size: 20px;
    text-align: center;
    background: #ee3643;
    text-transform: uppercase;
}

.footer-level-top-navigation-list {
    float: right;
    width: 610px;
    font-size: 0;
    padding-top: 40px;
}

.footer-level-top-navigation-list li,
.footer-level-middle-categories-list li
{
    list-style: none;
    display: inline-block;
    width: 110px;
    text-align: right;
    font-size: 18px;
}

.footer-level-top-navigation-list li a {
    color: white;
}

.footer-level-bottom {
    padding-top: 36px;
}

.footer-level-middle-categories-list li a,
.footer-level-bottom a
{
    color: #ffd180;
}

.footer-level-middle .footer-level-middle-address {
    float: left;
    width: 332px;
}

.footer-level-middle .footer-level-middle-categories-list {
    float: left;
    width: 530px;
}

.footer-level-bottom {
    background: #293449;
}

.footer-level-bottom .footer-level-bottom-copyright {
    float: left;
    width: 233px;
    margin-right: 162px;
}

.footer-level-bottom .footer-level-bottom-social-networks {
    float: left;
    width: 135px;
    margin-right: 120px;
}

.footer-level-bottom .footer-level-bottom-feedback {
    float: left;
    width: 130px;
    margin-right: 51px;
}

.footer-level-bottom .footer-level-bottom-maintainer {
    float: right;
    width: 100px;
}